@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
.card-size {
  position: relative;
  max-width: 14rem;
  padding-left: 0 !important;
}

.card-size .empty-card-skeleton {
  margin-bottom: 2.5rem;
}

.card-size img {
  display: block;
  margin-bottom: 2.5rem;
  width: 100%;
}

.card-size img:focus {
  outline: 4px solid #871616;
}

.card-size.unavailable {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-size.unavailable img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.card-size.unavailable .unavailable-text {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-45.45%, #000000), color-stop(95.45%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(180deg, #000000 -45.45%, rgba(0, 0, 0, 0) 95.45%);
  min-width: 100%;
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .card-size.unavailable .unavailable-text {
    width: 95%;
  }
}

.card-size.unavailable .unavailable-text p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.25rem;
  color: #ffffff;
  font-family: "Gochi Hand", cursive;
  font-size: 1rem;
  line-height: 1rem;
  padding: 4px 12px 4px 12px;
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 1.25rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

@media screen and (max-width: 576px) {
  .card-size.unavailable .unavailable-text p {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .card-size.unavailable .unavailable-text p {
    font-size: 0.625rem;
    line-height: 0.75rem;
  }
}

.card-size.unavailable .overlay-on-hover {
  position: absolute;
  z-index: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  padding-left: 0 !important;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 94.8%;
  height: 84%;
  max-height: -webkit-min-content;
  max-height: -moz-min-content;
  max-height: min-content;
  background-color: rgba(0, 0, 0, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 2800px) {
  .card-size.unavailable .overlay-on-hover {
    top: -1%;
    left: -1%;
    right: -1%;
    width: 96%;
    height: 86%;
  }
}

@media screen and (max-width: 768px) {
  .card-size.unavailable .overlay-on-hover {
    width: 95%;
    height: 84%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 576px) {
  .card-size.unavailable .overlay-on-hover {
    width: 100%;
    height: 85%;
  }
}

@media screen and (max-width: 320px) {
  .card-size.unavailable .overlay-on-hover {
    height: 81%;
  }
}

.card-size.unavailable .overlay-on-hover p.overlay-header {
  color: #ffffff;
  background: none;
  border: none;
  font-family: "Gochi Hand", cursive;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

@media (max-width: 1400px) {
  .card-size.unavailable .overlay-on-hover p.overlay-header {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}

.card-size.unavailable .overlay-on-hover p.overlay-description {
  background: none;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #ffffff;
}

@media (max-width: 1400px) {
  .card-size.unavailable .overlay-on-hover p.overlay-description {
    font-size: 0.625rem;
    line-height: 0.75rem;
  }
}

@media screen and (max-width: 320px) {
  .card-size.unavailable .overlay-on-hover p.overlay-description {
    font-size: 0.625rem;
    line-height: 0.75rem;
  }
}

.card-size.unavailable .overlay-on-hover .opensea-btn {
  padding: 0.125rem 1rem 0.125rem;
  max-width: 100%;
  font-family: "Gochi Hand", cursive;
  font-size: 1rem;
  line-height: 1rem;
  color: #000000;
}

@media screen and (max-width: 1400px) {
  .card-size.unavailable .overlay-on-hover .opensea-btn {
    font-size: 0.5rem !important;
    line-height: 0.5rem !important;
  }
}

@media (max-width: 1200px) {
  .card-size.unavailable .overlay-on-hover .opensea-btn {
    font-size: 0.5rem;
    line-height: 0.5rem;
  }
}

@media screen and (max-width: 320px) {
  .card-size.unavailable .overlay-on-hover .opensea-btn {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
  }
}

.card-size:hover .overlay-on-hover {
  opacity: 1;
}

.view-container {
  margin-top: 1rem;
  margin-right: 1.2rem;
}

@media screen and (max-width: 768px) {
  .view-container {
    margin-right: 0;
  }
}

.mas-view {
  position: absolute;
  margin-top: 0.5rem;
  background: #871616;
  color: #ffffff;
  padding: 0.125rem 1rem 0.125rem;
  font-family: "Gochi Hand", cursive;
  font-size: 1rem;
  line-height: 1rem;
}

@media screen and (max-width: 2560px) {
  .mas-view {
    margin-top: 0.325rem !important;
  }
}

@media screen and (max-width: 1800px) {
  .mas-view {
    margin-top: 0.3rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .mas-view {
    margin-top: 0 !important;
    margin-right: 0.155rem;
  }
}

@media screen and (max-width: 992px) {
  .mas-view {
    margin-top: 0.4rem !important;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 1250px) {
  .mas-view {
    font-size: 0.625rem !important;
    line-height: 0.75rem !important;
  }
}

@media screen and (max-width: 320px) {
  .mas-view {
    margin-top: 0.323rem !important;
  }
}

@media screen and (max-width: 1500px) {
  .mas-view {
    padding: 0.125rem 1rem 0.125rem;
    font-size: 1rem !important;
    line-height: 1rem !important;
    margin-right: 0.2rem;
    margin-top: 0 !important;
  }
}

@media (max-width: 1400px) {
  .mas-view {
    font-size: 0.5rem !important;
    line-height: 0.5rem !important;
    margin-top: 0.5rem !important;
  }
}

@media (max-width: 1158px) {
  .mas-view {
    margin-top: 0.3rem !important;
  }
}

@media (max-width: 992px) {
  .mas-view {
    margin-top: 0.5rem !important;
  }
}

@media screen and (max-width: 320px) {
  .mas-view {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
    margin-top: 0.5rem !important;
  }
}
/*# sourceMappingURL=style.css.map */