@import "../../../sass/partials/variables";

.attribute {
  padding: $size-151 $size-72 $size-80 $size-70;
  > div {
    border-right: 2px solid $brown;
    @media screen and (max-width: $breakpoint-md) {
      border-right: none;
      margin-bottom: $size-10;
      border-bottom: 2px solid $brown;
    }
  }

  div:first-child {
    margin-left: 0;
  }

  div:not(:first-child) {
    padding-left: $size-24;
    & .cats-section {
      & .cats:not(:first-child) {
        padding-left: 0;
      }
    }
  }

  div:last-child {
    border: none;
    justify-content: flex-center;
  }
  .col-md-3 div:first-child {
    justify-content: flex-start;
  }
  &__min-width {
    min-width: 77%;
    padding-left: 0 !important;
  }
}

.metadata-nft {
  max-width: 15.7rem;
  margin-top: 32px;
  margin-bottom: $size-12;
  & p {
    font-family: $font-family-gochi-hand;
    font-weight: $font-weight-regular;
    font-size: $font-16;
    line-height: 19px;
  }
}

.mint-btn {
  display: flex;
  justify-content: center;
  margin-top: $size-32;
  margin-left: 1.5rem;
  font-family: $font-family-gochi-hand;
  font-size: $size-24;
  line-height: $size-28;
  width: 14rem;
}

.selected-cat {
  margin-top: $size-30;
  margin-left: $size-24;
}

.cats-section {
  margin-left: $size-24;
  margin-right: $size-27;
  // max-height: 50rem;
  overflow-y: auto;
  & .col-md-4 {
    &.cats {
      min-width: 14rem;
      margin-bottom: $size-40;
      margin-right: $size-24;
      & img {
        width: 100%;

        border-radius: 0.25rem;
      }
    }
  }
}
