@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
.attribute {
  padding: 9.438rem 4.5rem 5rem 4.375rem;
}

.attribute > div {
  border-right: 2px solid #27282d;
}

@media screen and (max-width: 992px) {
  .attribute > div {
    border-right: none;
    border-bottom: 2px solid #27282d;
    padding-top: 1.688rem;
  }
}

.attribute div:first-child {
  margin-left: 0;
}

.attribute div:not(:first-child) {
  padding-left: 1.5rem;
}

@media screen and (max-width: 768px) {
  .attribute div:not(:first-child) {
    padding-left: 0;
  }
}

.attribute div:last-child {
  border: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.attribute .col-md-3 div:first-child {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media screen and (max-width: 992px) {
  .attribute .col-md-3 div:first-child {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .attribute .col-md-6 div {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.attribute__min-width {
  min-width: 77%;
  padding-left: 0 !important;
}

.metadata-nft {
  max-width: 15.7rem;
  margin-top: 32px;
  margin-bottom: 0.75rem;
}

.metadata-nft p {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
}

@media screen and (max-width: 992px) {
  .metadata-nft {
    max-width: none;
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 576px) {
  .metadata-nft {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.mint-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 1.5rem;
  font-family: "Gochi Hand", cursive;
  font-size: 1.5rem;
  line-height: 1.75rem;
  width: 14rem;
}

@media screen and (max-width: 992px) {
  .mint-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .mint-btn {
    margin-top: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .mint-btn {
    font-size: 1.12rem;
    line-height: 1.25rem;
  }
}

.selected-cat {
  margin-top: 1.875rem;
  margin-left: 1.5rem;
}

@media screen and (max-width: 992px) {
  .selected-cat {
    margin-left: 0;
    margin-right: 0.625rem;
    padding-left: 0 !important;
    width: 100%;
  }
}

.cats-section {
  margin-left: 1.5rem;
  margin-right: 1.688rem;
}

.suspects {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
  padding: 2rem 1.688rem 5.75rem 1.5rem;
  overflow-y: auto;
  max-height: 40rem;
}

@media screen and (max-width: 992px) {
  .suspects {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    padding-right: 0;
  }
}

@media screen and (max-width: 576px) {
  .suspects {
    --bs-gutter-x: 0 !important;
  }
}
/*# sourceMappingURL=style.css.map */
