@import "../../sass/partials/variables";

.terms-and-conditions {
  margin-top: $size-191;
  margin-bottom: $size-92;
}
.heading {
  line-height: $size-40;
}

.subtitle {
  font-family: $font-family-inter;
  font-weight: $font-weight-regular;
  font-size: $size-14;
  line-height: $size-28;
  color: $white;
  margin-top: $size-12;
}

.paragraph {
  margin-top: $size-24;
}
