@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
.terms-and-conditions {
  padding: 11.938rem 17.5rem 20.5rem 17.5rem;
}

@media screen and (max-width: 1400px) {
  .terms-and-conditions {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.heading {
  line-height: 2.5rem;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 1.75rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .heading {
    line-height: 1.25rem;
  }
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: #ffffff;
  margin-top: 0.75rem;
}

@media screen and (max-width: 768px) {
  .subtitle {
    font-size: 0.75rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .subtitle {
    font-size: 0.625rem;
    line-height: 1.25rem;
  }
}

.paragraph {
  text-align-last: justify;
}

.paragraph p:last-child {
  text-align-last: left;
}

.paragraph.personal-info-para {
  text-align-last: justify;
}

.paragraph.personal-info-para p:last-child {
  text-align-last: left;
}

@media screen and (max-width: 1400px) {
  .paragraph {
    text-align-last: start;
  }
  .paragraph p {
    text-align-last: start;
  }
  .paragraph br {
    display: none;
  }
}

.sub-heading {
  margin-bottom: 1.5rem;
}
