@import "../../sass/partials/variables";

.terms-and-conditions {
  padding: $size-191 $size-280 $size-328 $size-280;
  @media screen and (max-width: $breakpoint-xlg) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.heading {
  line-height: $size-40;
}

.subtitle {
  font-family: $font-family-inter;
  font-weight: $font-weight-regular;
  font-size: $size-14;
  line-height: $size-28;
  color: $white;
  margin-top: $size-12;
}

.paragraph {
  text-align-last: justify;
  & p:last-child {
    text-align-last: left;
  }
  &.personal-info-para {
    text-align-last: justify;
    & p:last-child {
      text-align-last: left;
    }
  }

  @media screen and (max-width: $breakpoint-xlg) {
    & p {
      text-align: start;
    }
    text-align: start;
  }
}

.sub-heading {
  margin-bottom: $size-24;
}
