@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
.modal {
  background: radial-gradient(41.46% 41.46% at 50% 50%, rgba(61, 63, 83, 0.9) 0%, rgba(28, 29, 33, 0.6) 100%);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  /* // Extra large devices (large desktops, 1200px and up) */
  /* // Large devices (desktops, 992px and up) */
  /* // Medium devices (tablets, 768px and up) */
  /* Extereme smaal device */
}

.modal__wide {
  max-width: 52%;
}

.modal__bg-img {
  background: rgba(59, 63, 82, 0.3) url(../../../assets/images/BG.svg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  max-height: 21.063rem;
  max-width: 21.063rem;
}

.modal__bg-img img {
  width: 100%;
}

.modal__box {
  background-color: #08080c;
}

.modal__btn-close {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url(../../../assets/images/Frame-7.svg) center/1.428rem auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  margin: 1.12rem 1.12rem 0 0;
}

.modal__btn-close:hover {
  opacity: 0.5;
}

.modal__padding-body {
  padding: 0 2.25rem 2.875rem 1.75rem;
}

.modal__body-margin .justify-content-between:first-child {
  margin: 1.5rem 0 1.25rem 0;
}

.modal__body-margin .justify-content-between:nth-child(2) {
  margin: 1.25rem 0 2.875rem 0;
}

.modal__body-margin .text-white {
  margin-bottom: 0.5rem;
}

.modal__body-margin p:last-child {
  margin-bottom: 2.875rem;
}

.modal .color-gray {
  color: #cccccc;
}

@media (max-width: 1200px) {
  .modal__wide {
    max-width: 66%;
  }
}

@media (max-width: 850px) {
  .modal__wide {
    max-width: 85%;
  }
  .modal__bg-img {
    max-height: 18.063rem;
    max-width: 15.063rem;
  }
  .modal__body-margin .justify-content-between:first-child {
    margin: 1.5rem 0 0.5rem 0;
  }
  .modal__body-margin .justify-content-between:nth-child(2) {
    margin: 0.8rem 0 1rem 0;
  }
  .modal__body-margin .text-white {
    margin-bottom: 0.5rem;
  }
  .modal__body-margin p:last-child {
    margin-bottom: 1.875rem;
  }
  .modal__padding-body {
    padding: 0 1.25rem 2.875rem 1.25rem;
  }
}

@media (max-width: 768px) {
  .modal__bg-img {
    max-height: 14.063rem;
    max-width: 100%;
    margin-bottom: 3rem;
  }
}

@media (max-width: 576px) {
  .modal__btn-close {
    margin: 1.12rem 0.6rem 0 0;
    padding: 0 0.15em;
  }
  .modal__wide {
    margin: auto;
    max-width: 85%;
    margin-top: 2rem;
  }
  .modal__padding-body {
    padding: 1.5rem 1.25rem 2.875rem 1.25rem;
  }
  .modal__body-margin .justify-content-between:first-child {
    margin: 1.5rem 0 0.5rem 0;
  }
  .modal__body-margin .justify-content-between:nth-child(2) {
    margin: 0rem 0 2rem 0;
  }
  .modal__body-margin .text-white {
    margin-bottom: 0.8rem;
  }
  .modal__body-margin p:last-child {
    margin-bottom: 1.875rem;
  }
}
/*# sourceMappingURL=style.css.map */