@import "../../../sass/partials/variables";

.card-size {
  max-width: 14rem;
  padding-left: 0 !important;
  img {
    margin-bottom: $size-40;
    width: 100%;
  }
  img + img {
    margin-right: $size-30;
  } 
}
