@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
.card-size {
  position: relative;
  max-width: 14rem;
  padding-left: 0 !important;
}

.card-size img {
  display: block;
  margin-bottom: 2.875rem;
  width: 100%;
}

.card-size img:focus {
  outline: 4px solid #871616;
}

.card-size img + img {
  margin-right: 1.875rem;
}

.card-size.unavailable {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-size.unavailable img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.card-size.unavailable .unavailable-text {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-45.45%, #000000), color-stop(95.45%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(180deg, #000000 -45.45%, rgba(0, 0, 0, 0) 95.45%);
  background-size: cover;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .card-size.unavailable .unavailable-text {
    width: 95%;
  }
}

.card-size.unavailable .unavailable-text p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.25rem;
  color: #ffffff;
  font-family: "Gochi Hand", cursive;
  font-size: 1rem;
  line-height: 1rem;
  padding: 4px 12px 4px 12px;
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 1.25rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

@media screen and (max-width: 576px) {
  .card-size.unavailable .unavailable-text p {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .card-size.unavailable .unavailable-text p {
    font-size: 0.625rem;
    line-height: 0.75rem;
  }
}

.card-size.unavailable .overlay-on-hover {
  position: absolute;
  z-index: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  padding-left: 0 !important;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 94.8%;
  height: 82.3%;
  max-height: -webkit-min-content;
  max-height: -moz-min-content;
  max-height: min-content;
  background-color: rgba(0, 0, 0, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .card-size.unavailable .overlay-on-hover {
    width: 95%;
    height: 83%;
  }
}

@media screen and (max-width: 576px) {
  .card-size.unavailable .overlay-on-hover {
    width: 100%;
    height: 83%;
  }
}

@media screen and (max-width: 320px) {
  .card-size.unavailable .overlay-on-hover {
    height: 80%;
  }
}

.card-size.unavailable .overlay-on-hover p.overlay-header {
  color: #ffffff;
  background: none;
  border: none;
  font-family: "Gochi Hand", cursive;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

.card-size.unavailable .overlay-on-hover p.overlay-description {
  background: none;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #ffffff;
}

@media screen and (max-width: 320px) {
  .card-size.unavailable .overlay-on-hover p.overlay-description {
    font-size: 0.625rem;
    line-height: 0.75rem;
  }
}

.card-size.unavailable .overlay-on-hover .opensea-btn {
  margin-top: 1rem;
  padding: 3px 24px 2px;
  max-width: 163px;
  font-family: "Gochi Hand", cursive;
  font-size: 1rem;
  line-height: 1rem;
  color: #000000;
}

@media screen and (max-width: 320px) {
  .card-size.unavailable .overlay-on-hover .opensea-btn {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

.card-size:hover .overlay-on-hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */