@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
.header-position {
  min-width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 4.375rem;
  margin-top: 2.5rem;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
}

.header-position .text-white:not(:first-child) {
  margin-left: 2.5rem;
}

@media screen and (max-width: 992px) {
  .header-position .text-white:not(:first-child) .text-white:not(:first-child) {
    margin-left: 0;
  }
}

@media screen and (max-width: 992px) {
  .header__heading {
    font-size: 3rem;
    line-height: 4.438rem;
  }
}

@media screen and (max-width: 768px) {
  .header__heading {
    font-size: 2.75rem;
    line-height: 4rem;
  }
}

@media screen and (max-width: 576px) {
  .header__heading {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 320px) {
  .header__heading {
    font-size: 1.125rem;
    line-height: 1.25rem;
    width: 100%;
  }
}

.header__scroll-heading {
  font-size: 2.5rem;
  margin-left: 2.2rem;
}

@media screen and (max-width: 992px) {
  .header__scroll-heading {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 768px) {
  .header__scroll-heading {
    font-size: 1.75rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .header__scroll-heading {
    font-size: 1.5rem;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 320px) {
  .header__scroll-heading {
    font-size: 1.25rem;
  }
}

.tabs {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.tabs a {
  margin-left: 2rem;
}

@media screen and (max-width: 320px) {
  .tabs {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .tabs a {
    margin-left: 1rem;
  }
}

.scroll-animation {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navbar-dark .navbar-toggler {
  border: none;
  margin-top: 2.4rem;
  margin-right: 3.5rem;
}

@media screen and (max-width: 992px) {
  .navbar-dark .navbar-toggler {
    margin-right: 8rem !important;
  }
}

@media screen and (max-width: 576px) {
  .navbar-dark .navbar-toggler {
    margin-right: 4rem !important;
  }
}

@media screen and (max-width: 320px) {
  .navbar-dark .navbar-toggler {
    margin-right: 2rem !important;
  }
}

.navbar-dark .navbar-toggler:focus {
  border: none;
}

.navbar-dark .navbar-toggler:focus-visible {
  border: none;
  outline: 0;
}

.navbar-dark .navbar-togglerbutton:focus:not(:focus-visible) {
  outline: 0 !important;
  border: none;
}

.navbar-toggler-icon {
  width: 1.7rem;
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-collapse {
  -ms-flex-preferred-size: content;
      flex-basis: content;
  margin-left: 3rem;
}

.btn-close {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

@media screen and (max-width: 992px) {
  .nav-link {
    display: none;
  }
}

.nav li {
  margin-bottom: 1rem;
}

.nav li::after {
  content: ".";
  display: block;
  height: 1px;
  width: 100%;
  margin: 0.5rem auto;
  text-indent: -9999px;
  border-top: 2px dotted #cccccc;
}

.navbar-dark .navbar-toggler-icon {
  background-size: 1.563rem 1.625rem;
}
/*# sourceMappingURL=index.css.map */