@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
.sm-modal {
  background: radial-gradient(41.46% 41.46% at 50% 50%, rgba(61, 63, 83, 0.9) 0%, rgba(28, 29, 33, 0.6) 100%);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  /* // Extra large devices (large desktops, 1200px and up) */
  /* // Large devices (desktops, 992px and up) */
  /* // Medium devices (tablets, 768px and up) */
  /* Extereme smaal device */
}

.sm-modal__wide {
  max-width: 32%;
}

.sm-modal__loading-wide {
  max-width: 28%;
}

.sm-modal__bg-img {
  background: rgba(59, 63, 82, 0.3) url(../../../assets/images/BG.svg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  max-height: 21.063rem;
  max-width: 21.063rem;
}

.sm-modal__bg-color {
  position: relative;
  background-color: #000000;
}

.sm-modal__img-top {
  position: relative;
  bottom: 3.7rem;
}

.sm-modal__img-top img {
  max-width: 7.313rem;
  max-height: 5.25rem;
  position: absolute;
  top: 3%;
}

.sm-modal__btn-close {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url(../../../assets/images/Frame-7.svg) center/1.428rem auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  margin: 1.12rem 1.12rem 0 0;
}

.sm-modal__btn-close:hover {
  opacity: 0.5;
}

.sm-modal__padding-body {
  padding: 1.6rem 2.5rem 3rem 2.5rem;
}

.sm-modal__body-margin .justify-content-between:first-child {
  margin: 0.75rem 0 0 0;
}

.sm-modal__body-margin .justify-content-between:nth-child(2) {
  margin: 0.75rem 0 0;
}

.sm-modal__body-margin .justify-content-between:last-child {
  margin: 1.25rem 0 2.5rem 0;
}

.sm-modal__body-margin .text-white {
  margin-bottom: 0rem;
}

.sm-modal__loading-body {
  margin: 4rem 0 4rem 0;
}

.sm-modal__loading-body h3 {
  margin-bottom: 0.5rem;
}

.sm-modal__congrats-body-margin p {
  margin: 0.5rem 0 1.5rem 0;
}

.sm-modal__congrats-body-margin h5 {
  margin-bottom: 1rem;
}

.sm-modal__mg-btw-btns {
  margin-top: 1rem;
}

.sm-modal .color-gray {
  color: #cccccc;
}

@media (max-width: 1200px) {
  .sm-modal__wide {
    max-width: 50%;
  }
  .sm-modal__loading-wide {
    max-width: 40%;
  }
}

@media (max-width: 1000px) {
  .sm-modal__loading-body {
    padding: 0 0.5rem 0 0.5rem;
  }
}

@media (max-width: 850px) {
  .sm-modal__wide {
    max-width: 55%;
  }
  .sm-modal__padding-body {
    padding: 0 1.25rem 2.875rem 1.25rem;
  }
  .sm-modal__loading-body {
    margin: 3rem 0 3rem 0;
  }
}

@media (max-width: 768px) {
  .sm-modal__wide, .sm-modal__loading-wide {
    max-width: 60%;
  }
  .sm-modal__wide {
    margin-top: 7.5rem;
  }
  .sm-modal__img-top {
    bottom: 2.5rem;
  }
  .sm-modal__img-top img {
    max-width: 5.25rem;
  }
}

@media (max-width: 576px) {
  .sm-modal__btn-close {
    margin: 1.12rem 0.6rem 0 0;
    padding: 0 0.15em;
  }
  .sm-modal__wide {
    margin: auto;
    max-width: 75%;
    margin-top: 2rem;
  }
  .sm-modal__loading-wide {
    margin: auto;
    max-width: 75%;
    margin-top: 2rem;
  }
  .sm-modal__padding-body {
    padding: 1.5rem 1.25rem 2.875rem 1.25rem;
  }
  .sm-modal__img-top {
    position: relative;
    bottom: 1rem;
  }
  .sm-modal__img-top img {
    max-width: 5.313rem;
  }
}
/*# sourceMappingURL=style.css.map */