@import "../../../sass/partials/variables";
.hero {
  background-image: url(../../../assets/images/HeroImg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
  @media screen and (max-width: $breakpoint-lg) {
    width: 100%;
    min-height: 100vh;
  }
  @media screen and (max-width: $breakpoint-sm) {
    min-height: 100%;
  }
}

.hero-content {
  margin-top: 19.875rem;
  @media screen and (max-width: $breakpoint-md) {
    margin-top: 15.625rem;
    padding-bottom: 3rem;
  }
  @media screen and (max-width: $breakpoint-sm) {
    margin-top: 10.625rem;
    padding: 3rem 0rem 2rem 0rem;
  }
  .hero-card {
    max-width: 26.125rem;
    height: auto;
    padding: 2.5rem;
    margin-right: 1rem;
    background: rgba(0, 0, 0, 0.65);
    @media screen and (max-width: $breakpoint-md) {
      padding: 1.5rem;
      margin-right: auto;
      margin-left: auto;
    }
    & p {
      font-size: 1rem; // 16px
      line-height: 1.875rem; //30px
      @media screen and (max-width: $breakpoint-md) {
        font-size: 1rem;
        line-height: 2rem;
      }
      @media screen and (max-width: $breakpoint-sm) {
        font-size: 0.9rem;
        line-height: 1.5rem;
      }
    }
    & h1 {
      font-family: $font-family-gochi-hand;
      font-weight: $font-weight-regular;
      font-size: $font-40;
      line-height: $line-height-48;
      width: 100%;
      @media screen and (max-width: $breakpoint-md) {
        font-size: $font-32;
        line-height: $line-height-38;
      }
      @media screen and (max-width: $breakpoint-sm) {
        font-size: $font-28;
        line-height: $line-height-24;
      }
    }
  }
}

.hero-mas {
  padding: 10px 24px 6px 24px !important;
  font-size: $font-24;
  line-height: $line-height-28;

  @media screen and (max-width: $breakpoint-sm) {
    padding-bottom: 9px !important;
    padding-top: 12px !important;
  }
}
.btn {
  &.hero-card-btn {
    background: $white;
    color: $black;
    padding: 10px 24px 6px 24px;
    border-radius: 0px;
    font-family: $font-family-gochi-hand;
    font-size: $font-24;
    line-height: $line-height-28;
    height: 2.75rem; //44px
    font-weight: $font-weight-regular;
    border: 0;
    outline: 0;

    @media screen and (max-width: $breakpoint-md) {
      width: 100%;
      font-size: $font-20;
      line-height: $line-height-20;
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .hero-mas {
    width: 100%;
    padding: 10px 24px 6px;
  }
}

.story-release-heading {
  width: max-content;
  @media screen and (max-width: $breakpoint-md) {
    width: 100%;
  }
}

.underline {
  margin: 24px 0px 24px 0px;
}
