@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
.block__btn-text {
  font-family: "Gochi Hand", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  /* // Extra large devices (large desktops, 1200px and up) */
  /* // Large devices (desktops, 992px and up) */
  /* // Medium devices (tablets, 768px and up) */
  /* Extereme smaal device */
}

.block__btn-text img {
  margin-right: 1rem;
}

@media (max-width: 576px) {
  .block__btn-text {
    font-size: 1.1rem;
    line-height: 1rem;
  }
  .block__btn-text img {
    width: 1.2rem;
    margin-right: 0.75rem;
  }
}

@media (max-width: 370px) {
  .block__btn-text {
    font-size: 0.8rem;
    line-height: 0.25rem;
  }
  .block__btn-text img {
    width: 0.9rem;
    margin-right: 0.4rem;
  }
}

.block__bg-tranparent {
  background: transparent !important;
  border: 0.063rem solid #ffffff !important;
}
