#HowItWorks {
    background-color: #0F1016;
    & .working-text {
        font-size: 1.125rem;
        line-height: 2rem;
       
    }
    overflow-x: hidden;
}

.underline {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}