@import "../../../sass/partials/variables";

.font-gouchi {
  font-family: $font-family-gochi-hand;
  line-height: $size-24;
  &:first-child {
    margin-top: $size-24;
  }
}

.custom-select,
.custom-select option {
  padding: $size-12 $size-16;
  gap: $size-8;
  border: 1px solid #dee2e6;
  border-radius: $size-4;
  background-color: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: $font-weight-regular;
  font-size: $size-16;
  line-height: $size-24;
  color: #cccccc;
  background-image: url(../../../assets/images/Vector-down.svg);
  background-position: right 0.75rem center;
  background-size: $size-16 $size-12;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
  margin: $size-4 0 $size-12 0;
  width: 100%;

  option {
    background-color: black;
  }
}
