@import "../../../sass/partials/variables";

.font-gouchi {
  font-family: $font-family-gochi-hand !important;
  line-height: $size-24 !important;
  &:first-child {
    margin-top: $size-24 !important;
  }
}

.custom-select,
.custom-select option {
  padding: $size-12 $size-16 !important;
  gap: $size-8 !important;
  border: 1px solid #dee2e6 !important;
  border-radius: $size-4 !important;
  background-color: transparent !important;
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: $font-weight-regular !important;
  font-size: $size-16 !important;
  line-height: $size-24 !important;
  color: $grey !important;
  background-image: url(../../../assets/images/Vector-down.svg) !important;
  background-position: right 0.75rem center !important;
  background-size: $size-16 $size-12 !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  appearance: none !important;
  margin: $size-4 0 $size-12 0 !important;
  width: 100% !important;
  option {
    background-color: black !important;
  }

  @media screen and (max-width: $breakpoint-sm) {
    background-size: $size-10 $size-12 !important;
    background-position: right 0.32rem center !important;
  }
}
