@import "./variables";


h1,h2,h3,h4,h5,h6,body,p,a {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: $font-family-amatic;
	font-weight: $font-weight-bold;
	font-size: $font-56;
	line-height: $line-height-71;
}

h2 {
	font-family: $font-family-gochi-hand;
	font-weight: $font-weight-regular;
	font-size: $font-40;
	line-height: $line-height-48;
}

h6 {
	font-family: $font-family-gochi-hand;
	font-weight: $font-weight-regular;
	font-size: $font-20;
	line-height: $line-height-24;
}

.btn-primary {
	background-color: $white;
	color: $black;
	padding: 10px, 24px, 6px, 24px;
	border-radius: 0px;
}